In [2]:
import numpy 
import pandas as pd

In [13]:
a1 = pd.read_csv('214441.csv',na_values='--')
a2 = pd.read_csv('214442.csv',na_values='--')
a3 = pd.read_csv('214443.csv',na_values='--')
a4 = pd.read_csv('214444.csv',na_values='--')
a5 = pd.read_csv('214445.csv',na_values='--')
a5 = pd.read_csv('214446.csv',na_values='--')
a6 = pd.read_csv('214447.csv',na_values='--')
a7 = pd.read_csv('214448.csv',na_values='--')
a8 = pd.read_csv('214449.csv',na_values='--')
a9 = pd.read_csv('214450.csv',na_values='--')
a10 = pd.read_csv('214451.csv',na_values='--')
a11 = pd.read_csv('214452.csv',na_values='--')
a12 = pd.read_csv('214453.csv',na_values='--')
a13 = pd.read_csv('214454.csv',na_values='--')
a14 = pd.read_csv('214455.csv',na_values='--')
a15 = pd.read_csv('214456.csv',na_values='--')
st = pd.read_csv('seat_no_name_monther_name.csv')

In [30]:
a1 = a1.dropna(how='all',axis=1)
a2 = a2.dropna(how='all',axis=1)
a3 = a3.dropna(how='all',axis=1)
a4 = a4.dropna(how='all',axis=1)
a5 = a5.dropna(how='all',axis=1)
a5 = a5.dropna(how='all',axis=1)
a6 = a6.dropna(how='all',axis=1)
a7 = a7.dropna(how='all',axis=1)
a8 = a8.dropna(how='all',axis=1)
a9 = a9.dropna(how='all',axis=1)
a10 = a10.dropna(how='all',axis=1)
a11 = a11.dropna(how='all',axis=1)
a12 = a12.dropna(how='all',axis=1)
a13 = a13.dropna(how='all',axis=1)
a14 = a14.dropna(how='all',axis=1)
a15 = a15.dropna(how='all',axis=1)

In [84]:
st = pd.read_csv('seat_no_name_monther_name.csv')
r = pd.concat([st,a1,a2,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15],axis=1)
r.to_csv('final_students.csv',index=False)

In [27]:
import numpy as np 
data = {
  "name": ["Sally", "Mary", "John"],
  "age": [np.nan,np.nan,np.nan],
  "qualified": [True, False, False]
}

df = pd.DataFrame(data)

In [28]:
df.head()

    name  age  qualified
0  Sally  NaN       True
1   Mary  NaN      False
2   John  NaN      False

In [29]:
df.dropna(how='all',axis=1)

    name  qualified
0  Sally       True
1   Mary      False
2   John      False