In [1]:
import numpy 
import pandas as pd

In [56]:
a1 = pd.read_csv('subject_21441.csv')
a2 = pd.read_csv('subject_214442.csv')
a3 = pd.read_csv('subject_214443.csv')
a4 = pd.read_csv('subject_214444.csv')
a5 = pd.read_csv('subject_214445.csv')
a5 = pd.read_csv('subject_214446.csv')
a6 = pd.read_csv('subject_214447.csv')
a7 = pd.read_csv('subject_214448.csv')
a8 = pd.read_csv('subject_214449.csv')
a9 = pd.read_csv('subject_214450.csv')
a10 = pd.read_csv('subject_214451.csv')
a11 = pd.read_csv('subject_214452.csv')
a12 = pd.read_csv('subject_214453.csv')
a13 = pd.read_csv('subject_214454.csv')
a14 = pd.read_csv('subject_214455.csv')
a15 = pd.read_csv('subject_214456.csv')

In [58]:
a1.drop('Unnamed: 0',axis=1,inplace=True)
a2.drop('Unnamed: 0',axis=1,inplace=True)
a3.drop('Unnamed: 0',axis=1,inplace=True)
a4.drop('Unnamed: 0',axis=1,inplace=True)
a5.drop('Unnamed: 0',axis=1,inplace=True)
a6.drop('Unnamed: 0',axis=1,inplace=True)
a7.drop('Unnamed: 0',axis=1,inplace=True)
a8.drop('Unnamed: 0',axis=1,inplace=True)
a9.drop('Unnamed: 0',axis=1,inplace=True)
a10.drop('Unnamed: 0',axis=1,inplace=True)
a11.drop('Unnamed: 0',axis=1,inplace=True)
a12.drop('Unnamed: 0',axis=1,inplace=True)
a13.drop('Unnamed: 0',axis=1,inplace=True)
a14.drop('Unnamed: 0',axis=1,inplace=True)
a15.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
simi_final = pd.concat([a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15],axis=1)

In [59]:
simi_final.head()
simi_final.to_csv('s3.csv',columns=list(simi_final.columns))

In [60]:
d = {'214441':a1,'214442':a2,'214443':a3}

In [62]:
f = pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index

In [86]:
a1.columns

Index(['subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD', 'GRD',
       'PTS1', 'PTS2'],
      dtype='object')

In [54]:
simi_final = pd.concat([a1,a2,a3],axis=1,join='inner')

In [94]:
cols = []
e = [a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a14]

for i in e:
    cols.append(i.columns)

In [115]:
new_cols = []
for i in cols:
    new_cols.append(list(i))
t_list = []
for i in new_cols:
    for j in i:
        t_list.append(j)

In [116]:
len(t_list)

180

In [117]:
yy = [i for i in range(0,180)]
len(yy)

180

In [128]:
g = pd.read_csv('final_students.csv',names=rr)

In [129]:
g.head(
    1
)

,seat_no,name,mother_name,PRN_NO,0,1,2,3,4,5,...,159,160,161,162,163,164,165,166,167,168
0,0,S150088539,AVHAD KALPESH BALIRAM,RANJANABAI,71842239C,214441,030/050,024/050,054/100,--,...,--,--,023/025,042/050,--,86,1,O,10,10

In [126]:
g.to_csv('s12.csv')

In [127]:
rr = ['seat_no','name','mother_name','PRN_NO']
for i in range(0,169):
    rr.append(i)

In [123]:
g

184

In [92]:
cols

Index(['subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD', 'GRD',
       'PTS1', 'PTS2', 'subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT',
       'CRD', 'GRD', 'PTS1', 'PTS2'],
      dtype='object')

In [ ]:
cols

In [55]:
simi_final.to_csv('s2.csv',columns=list(simi_final.columns))

In [88]:
cols

Index(['subjectsubject', 'OEOE', 'THTH', 'OE_THOE_TH', 'TWTW', 'PRPR', 'OROR',
       'TOTTOT', 'CRDCRD', 'GRDGRD', 'PTS1PTS1', 'PTS2PTS2'],
      dtype='object')

In [45]:
simi_final = pd.concat([a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15],axis=1)

In [46]:
simi_final.head()
simi_final.to_csv('simi_final.csv',columns=list(simi_final.columns))

In [35]:
simi_final.columns

Index(['Unnamed: 0', 'subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT',
       'CRD',
       ...
       'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD', 'GRD', 'PTS1', 'PTS2'],
      dtype='object', length=195)

In [37]:
for i in simi_final.columns:
    print(i)

Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2
Unnamed: 0
subject
OE
TH
OE_TH
TW
PR
OR
TOT
CRD
GRD
PTS1
PTS2

In [84]:
st = pd.read_csv('seat_no_name_monther_name.csv')

r = pd.concat([st,a1,a2,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15],axis=1)

In [85]:
r.to_csv('final_students.csv',header=None)

In [79]:
r.columns

Index(['Unnamed: 0', 'seat_no', 'name', 'mother_name', 'PRN_NO', 'subject',
       'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD', 'GRD', 'PTS1',
       'PTS2', 'subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD',
       'GRD', 'PTS1', 'PTS2'],
      dtype='object')

In [82]:
r.head()
c = ['subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD', 'GRD',
       'PTS1', 'PTS2', 'Unnamed: 0', 'seat_no', 'name', 'mother_name',
       'PRN_NO', 'subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT',
       'CRD', 'GRD', 'PTS1', 'PTS2']
r.to_csv('s9.csv',header=None)

In [74]:
r.columns

Index(['subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD', 'GRD',
       'PTS1', 'PTS2', 'Unnamed: 0', 'seat_no', 'name', 'mother_name',
       'PRN_NO', 'subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT',
       'CRD', 'GRD', 'PTS1', 'PTS2'],
      dtype='object')

In [21]:
final_marks = pd.concat([simi_final,st],axis=1)

In [22]:
final_marks.head(5)

,Unnamed: 0,subject,OE,TH,OE_TH,TW,PR,OR,TOT,CRD,...,TOT,CRD,GRD,PTS1,PTS2,Unnamed: 0,seat_no,name,mother_name,PRN_NO
0,0,214441,030/050,024/050,054/100,--,--,--,54,4,...,86,1,O,10,10,0,S150088539,AVHAD KALPESH BALIRAM,RANJANABAI,71842239C
1,1,214441,013/050,011/050,024/100,--,--,--,FF,4,...,62,1,A,8,8,1,S150088540,AWACHAR SHOBHANA BHAURAO,SUNITATAI,71842242C
2,2,214441,021/050,026/050,047/100,--,--,--,47,4,...,90,1,O,10,10,2,S150088541,AWALE PRAJAKTA SUNIL,KUSUM,71842243M
3,3,214441,022/050,035/050,057/100,--,--,--,57,4,...,85,1,O,10,10,3,S150088542,BHOSALE RUSHIKESH VIJAY,HIRABAI,71842298J
4,4,214441,016/050,24$/050,040/100,--,--,--,40,4,...,85,1,O,10,10,4,S150088543,BHOSALE VISHWAJEET VILAS,SUNITA,71842300D

In [23]:
final_marks.to_csv('final_student_list.csv',columns=final_marks.columns)

In [24]:
t = pd.concat([a1,a2],axis=1)

In [25]:
t.to_csv('temp.csv',columns=t.columns)

In [26]:
y = a1.merge(a1)

In [28]:
y.to_csv('y.csv',columns=y.columns)

In [11]:
a.columns

Index(['Unnamed: 0', 'subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT',
       'CRD', 'GRD', 'PTS1', 'PTS2', 'Unnamed: 0', 'subject', 'OE', 'TH',
       'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD', 'GRD', 'PTS1', 'PTS2',
       'Unnamed: 0', 'subject', 'OE', 'TH', 'OE_TH', 'TW', 'PR', 'OR', 'TOT',
       'CRD', 'GRD', 'PTS1', 'PTS2', 'Unnamed: 0', 'subject', 'OE', 'TH',
       'OE_TH', 'TW', 'PR', 'OR', 'TOT', 'CRD', 'GRD', 'PTS1', 'PTS2'],
      dtype='object')

In [2]:
s = pd.read_csv('seat_no_name_monther_name.csv')

In [3]:
s.head()

   Unnamed: 0     seat_no                      name mother_name     PRN_NO
0           0  S150088539     AVHAD KALPESH BALIRAM  RANJANABAI  71842239C
1           1  S150088540  AWACHAR SHOBHANA BHAURAO   SUNITATAI  71842242C
2           2  S150088541      AWALE PRAJAKTA SUNIL       KUSUM  71842243M
3           3  S150088542   BHOSALE RUSHIKESH VIJAY     HIRABAI  71842298J
4           4  S150088543  BHOSALE VISHWAJEET VILAS      SUNITA  71842300D

In [4]:
d = pd.read_csv(r'C:\Users\Suraj\OneDrive\Desktop\Streamlit_web_app\student_marks.csv')

In [5]:
engineering_mathematics = d[d['subject']=='207003']
process_architecture = d[d['subject']=='214451']
database_m_system = d[d['subject']=='214452']
computer_graphics = d[d['subject']=='214453']
software_engineering = d[d['subject']=='214454']
psdl_lab = d[d['subject']=='214455']
dbms_lab = d[d['subject']=='214456']
cs_lab = d[d['subject']== '214457']
pbl = d[d['subject']=='214458']

In [43]:
len(process_architecture)

183

In [6]:
len(software_engineering)

194

In [7]:
t = d

In [32]:
t1 = t.drop('Unnamed: 0',axis=1)
l1 = list(t1['subject'])
l2 = [i for i in range(len(l1))]

In [34]:
index_v = pd.MultiIndex.from_tuples(list(zip(l1,l2)))

In [35]:
# index_v

MultiIndex([( '214441',    0),
            ( '214442',    1),
            ( '214443',    2),
            ( '214444',    3),
            ( '214445',    4),
            ( '214446',    5),
            ( '214447',    6),
            ( '214448',    7),
            ( '214449',    8),
            ('202054A',    9),
            ...
            ( '207003', 3852),
            ( '207003', 3853),
            ( '214450', 3854),
            ( '214451', 3855),
            ( '214452', 3856),
            ( '214453', 3857),
            ( '214454', 3858),
            ( '214455', 3859),
            ( '214456', 3860),
            ( '214458', 3861)],
           length=3862)

In [9]:
t['subject'].unique()

array(['214441', '214442', '214443', '214444', '214445', '214446',
       '214447', '214448', '214449', '202054A', '207003', '214450',
       '214451', '214452', '214453', '214454', '214455', '214456',
       '210258A', '210258D', '210258C', '210250', '214458'], dtype=object)

In [16]:
t.head()

,Unnamed: 0,subject,OE,TH,OE_TH,TW,PR,OR,TOT,CRD,GRD,PTS1,PTS2
0,0,214441,030/050,024/050,054/100,--,--,--,54,04,B,06,24
1,1,214442,036/050,031/050,067/100,--,--,--,67,04,A,08,32
2,2,214443,026/050,033/050,059/100,--,--,--,59,04,B+,07,28
3,3,214444,029/050,036/050,065/100,--,--,--,65,04,A,08,32
4,4,214445,040/050,032/050,072/100,--,--,--,72,04,A+,09,36

In [38]:
tt1 = t.groupby('subject')

,Unnamed: 0,subject,OE,TH,OE_TH,TW,PR,OR,TOT,CRD,GRD,PTS1,PTS2
0,0,214441,030/050,024/050,054/100,--,--,--,54,04,B,06,24
1,1,214442,036/050,031/050,067/100,--,--,--,67,04,A,08,32
2,2,214443,026/050,033/050,059/100,--,--,--,59,04,B+,07,28
3,3,214444,029/050,036/050,065/100,--,--,--,65,04,A,08,32
4,4,214445,040/050,032/050,072/100,--,--,--,72,04,A+,09,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3405,3405,210258C,--,--,--,PP,--,--,PP,00,P,00,00
3464,3464,210258C,--,--,--,PP,--,--,PP,00,P,00,00
3622,3622,210258C,--,--,--,PP,--,--,PP,00,P,00,00
3662,3662,210258C,--,--,--,PP,--,--,PP,00,P,00,00
3741,3741,210258C,--,--,--,PP,--,--,PP,00,P,00,00

In [14]:
tt = t.set_index(t['subject'])

In [20]:
tt = tt.drop('Unnamed: 0',axis=1)

In [36]:
# tt.head()

In [37]:
tt1 = tt.groupby('subject')

ValueError: 'subject' is both an index level and a column label, which is ambiguous.

In [33]:
d

{'214441': None,
 '214442': None,
 '214443': None,
 '214444': None,
 '214445': None,
 '214446': None,
 '214447': None,
 '214448': None,
 '214449': None,
 '202054A': None,
 '207003': None,
 '214450': None,
 '214451': None,
 '214452': None,
 '214453': None,
 '214454':       Unnamed: 0 subject  OE  TH OE_TH       TW       PR  OR TOT CRD GRD PTS1  \
 16            16  214454  --  --    --  023/025  035/050  --  77  02  A+   09
 36            36  214454  --  --    --  021/025  032/050  --  70  02  A+   09
 56            56  214454  --  --    --  023/025  037/050  --  80  02   O   10
 76            76  214454  --  --    --  022/025  045/050  --  89  02   O   10
 96            96  214454  --  --    --  023/025  037/050  --  80  02   O   10
 ...          ...     ...  ..  ..   ...      ...      ...  ..  ..  ..  ..  ...
 3778        3778  214454  --  --    --  022/025  037/050  --  78  02  A+   09
 3798        3798  214454  --  --    --  020/025  020/050  --  53  02   B   06
 3818        3818  214454  --  --    --  021/025  028/050  --  65  02   A   08
 3838        3838  214454  --  --    --  021/025  021/050  --  56  02  B+   07
 3858        3858  214454  --  --    --  019/025  032/050  --  68  02   A   08

      PTS2
 16     18
 36     18
 56     20
 76     20
 96     20
 ...   ...
 3778   18
 3798   12
 3818   16
 3838   14
 3858   16

 [194 rows x 13 columns],
 '214455': None,
 '214456': None,
 '210258A': None,
 '210258D': None,
 '210258C': None,
 '210250': None,
 '214458': None}

In [16]:
a = d.groupby('subject')

In [ ]:
p = pd.DataFrame({'subj'})

In [25]:
len(d[d['subject'] == '214441'])

127

In [39]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                     'B': ['B0', 'B1', 'B2', 'B3'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},
                      index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                      'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                     index=[8, 9, 10, 11])

In [40]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [41]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [42]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [43]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11