In [50]:
import numpy 
import pandas as pd

In [51]:
a1 = pd.read_csv('subject_21441.csv')
a2 = pd.read_csv('subject_214442.csv')
a3 = pd.read_csv('subject_214443.csv')

In [54]:
a = pd.concat([a1,a2,a3],axis=1)

In [58]:
a.head()

,Unnamed: 0,subject,OE,TH,OE_TH,TW,PR,OR,TOT,CRD,...,TH,OE_TH,TW,PR,OR,TOT,CRD,GRD,PTS1,PTS2
0,0,214441,030/050,024/050,054/100,--,--,--,54,4,...,033/050,059/100,--,--,--,59,4,B+,7,28
1,1,214441,013/050,011/050,024/100,--,--,--,FF,4,...,021/050,042/100,--,--,--,42,4,P,4,16
2,2,214441,021/050,026/050,047/100,--,--,--,47,4,...,020/050,052/100,--,--,--,52,4,B,6,24
3,3,214441,022/050,035/050,057/100,--,--,--,57,4,...,020/050,047/100,--,--,--,47,4,C,5,20
4,4,214441,016/050,24$/050,040/100,--,--,--,40,4,...,021/050,053/100,--,--,--,53,4,B,6,24

In [48]:
# a = pd.read_csv('final_clean_output.csv',sep=' ')

In [2]:
s = pd.read_csv('seat_no_name_monther_name.csv')

In [3]:
s.head()

   Unnamed: 0     seat_no                      name mother_name     PRN_NO
0           0  S150088539     AVHAD KALPESH BALIRAM  RANJANABAI  71842239C
1           1  S150088540  AWACHAR SHOBHANA BHAURAO   SUNITATAI  71842242C
2           2  S150088541      AWALE PRAJAKTA SUNIL       KUSUM  71842243M
3           3  S150088542   BHOSALE RUSHIKESH VIJAY     HIRABAI  71842298J
4           4  S150088543  BHOSALE VISHWAJEET VILAS      SUNITA  71842300D

In [4]:
d = pd.read_csv(r'C:\Users\Suraj\OneDrive\Desktop\Streamlit_web_app\student_marks.csv')

In [5]:
engineering_mathematics = d[d['subject']=='207003']
process_architecture = d[d['subject']=='214451']
database_m_system = d[d['subject']=='214452']
computer_graphics = d[d['subject']=='214453']
software_engineering = d[d['subject']=='214454']
psdl_lab = d[d['subject']=='214455']
dbms_lab = d[d['subject']=='214456']
cs_lab = d[d['subject']== '214457']
pbl = d[d['subject']=='214458']

In [43]:
len(process_architecture)

183

In [6]:
len(software_engineering)

194

In [7]:
t = d

In [32]:
t1 = t.drop('Unnamed: 0',axis=1)
l1 = list(t1['subject'])
l2 = [i for i in range(len(l1))]

In [34]:
index_v = pd.MultiIndex.from_tuples(list(zip(l1,l2)))

In [35]:
# index_v

MultiIndex([( '214441',    0),
            ( '214442',    1),
            ( '214443',    2),
            ( '214444',    3),
            ( '214445',    4),
            ( '214446',    5),
            ( '214447',    6),
            ( '214448',    7),
            ( '214449',    8),
            ('202054A',    9),
            ...
            ( '207003', 3852),
            ( '207003', 3853),
            ( '214450', 3854),
            ( '214451', 3855),
            ( '214452', 3856),
            ( '214453', 3857),
            ( '214454', 3858),
            ( '214455', 3859),
            ( '214456', 3860),
            ( '214458', 3861)],
           length=3862)

In [9]:
t['subject'].unique()

array(['214441', '214442', '214443', '214444', '214445', '214446',
       '214447', '214448', '214449', '202054A', '207003', '214450',
       '214451', '214452', '214453', '214454', '214455', '214456',
       '210258A', '210258D', '210258C', '210250', '214458'], dtype=object)

In [16]:
t.head()

,Unnamed: 0,subject,OE,TH,OE_TH,TW,PR,OR,TOT,CRD,GRD,PTS1,PTS2
0,0,214441,030/050,024/050,054/100,--,--,--,54,04,B,06,24
1,1,214442,036/050,031/050,067/100,--,--,--,67,04,A,08,32
2,2,214443,026/050,033/050,059/100,--,--,--,59,04,B+,07,28
3,3,214444,029/050,036/050,065/100,--,--,--,65,04,A,08,32
4,4,214445,040/050,032/050,072/100,--,--,--,72,04,A+,09,36

In [38]:
tt1 = t.groupby('subject')

,Unnamed: 0,subject,OE,TH,OE_TH,TW,PR,OR,TOT,CRD,GRD,PTS1,PTS2
0,0,214441,030/050,024/050,054/100,--,--,--,54,04,B,06,24
1,1,214442,036/050,031/050,067/100,--,--,--,67,04,A,08,32
2,2,214443,026/050,033/050,059/100,--,--,--,59,04,B+,07,28
3,3,214444,029/050,036/050,065/100,--,--,--,65,04,A,08,32
4,4,214445,040/050,032/050,072/100,--,--,--,72,04,A+,09,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3405,3405,210258C,--,--,--,PP,--,--,PP,00,P,00,00
3464,3464,210258C,--,--,--,PP,--,--,PP,00,P,00,00
3622,3622,210258C,--,--,--,PP,--,--,PP,00,P,00,00
3662,3662,210258C,--,--,--,PP,--,--,PP,00,P,00,00
3741,3741,210258C,--,--,--,PP,--,--,PP,00,P,00,00

In [14]:
tt = t.set_index(t['subject'])

In [20]:
tt = tt.drop('Unnamed: 0',axis=1)

In [36]:
# tt.head()

In [37]:
tt1 = tt.groupby('subject')

ValueError: 'subject' is both an index level and a column label, which is ambiguous.

In [33]:
d

{'214441': None,
 '214442': None,
 '214443': None,
 '214444': None,
 '214445': None,
 '214446': None,
 '214447': None,
 '214448': None,
 '214449': None,
 '202054A': None,
 '207003': None,
 '214450': None,
 '214451': None,
 '214452': None,
 '214453': None,
 '214454':       Unnamed: 0 subject  OE  TH OE_TH       TW       PR  OR TOT CRD GRD PTS1  \
 16            16  214454  --  --    --  023/025  035/050  --  77  02  A+   09
 36            36  214454  --  --    --  021/025  032/050  --  70  02  A+   09
 56            56  214454  --  --    --  023/025  037/050  --  80  02   O   10
 76            76  214454  --  --    --  022/025  045/050  --  89  02   O   10
 96            96  214454  --  --    --  023/025  037/050  --  80  02   O   10
 ...          ...     ...  ..  ..   ...      ...      ...  ..  ..  ..  ..  ...
 3778        3778  214454  --  --    --  022/025  037/050  --  78  02  A+   09
 3798        3798  214454  --  --    --  020/025  020/050  --  53  02   B   06
 3818        3818  214454  --  --    --  021/025  028/050  --  65  02   A   08
 3838        3838  214454  --  --    --  021/025  021/050  --  56  02  B+   07
 3858        3858  214454  --  --    --  019/025  032/050  --  68  02   A   08

      PTS2
 16     18
 36     18
 56     20
 76     20
 96     20
 ...   ...
 3778   18
 3798   12
 3818   16
 3838   14
 3858   16

 [194 rows x 13 columns],
 '214455': None,
 '214456': None,
 '210258A': None,
 '210258D': None,
 '210258C': None,
 '210250': None,
 '214458': None}

In [16]:
a = d.groupby('subject')

In [ ]:
p = pd.DataFrame({'subj'})

In [25]:
len(d[d['subject'] == '214441'])

127