In [1]:
# from PyPDF2 import PdfReader

In [2]:
import ast

In [3]:
ast.literal_eval('[{},{},{}]')

[{}, {}, {}]

In [18]:
s = '''
....................................................................................................
SECOND YEAR SGPA   nannan, TOTAL CREDITS EARNED   42
 
.................................................................................................... 
                    
S150088548  GAVHANE SHUBHAM KANTILAL                SHOBHA                   71842457D DYPP
                                                                                  Grd   Crd
               OE       TH     [OE+TH]     TW       PR       OR    Tot% Crd  Grd  Pts   Pts
             ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~  ~~   ~~~  ~~    ~~
 SEM. 1
 
   214441    018/050  023/050  041/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  41   04   P    04    16
   214442    016!/050  028/050  044&/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  44   04   P    04    16
   214443    030/050  021#/050  051/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  51   04   B    06    24
   214444    022!/050  029/050  051/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  51   04   B    06    24
   214445    034/050  031/050  065/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  65   04   A    08    32
   214446    nannannannannannannan  nannannannannannannan  nannannannannannannan  022/025  022/050  nannannannannannannan  58   01   B+   07    07
   214447    nannannannannannannan  nannannannannannannan  nannannannannannannan  022/025  041/050  nannannannannannannan  84   02   O    10    20
   214448    nannannannannannannan  nannannannannannannan  nannannannannannannan  021/025  036/050  nannannannannannannan  76   01   A+   09    09
   214449    nannannannannannannan  nannannannannannannan  nannannannannannannan  020/025  nannannannannannannan  nannannannannannannan  80   01   O    10    10
  202054A    nannannannannannannan  nannannannannannannan  nannannannannannannan       PP  nannannannannannannan  nannannannannannannan  PP   00   P    00    00
 
 SEM. 2
 
   207003    026/050  021/050  047!/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  47   04   C    05    20
   207003    nannannannannannannan  nannannannannannannan  nannannannannannannan  023/025  nannannannannannannan  nannannannannannannan  92   01   O    10    10
   214450    020/050  031/050  051/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  51   03   B    06    18
   214451    022/050  020/050  042/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  42   04   P    04    16
   214452    030/050  022/050  052/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  52   04   B    06    24
   214453    034/050  024/050  058/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  58   04   B+   07    28
   214454    nannannannannannannan  nannannannannannannan  nannannannannannannan  022/025  030/050  nannannannannannannan  69   02   A    08    16
   214455    nannannannannannannan  nannannannannannannan  nannannannannannannan  022!/025  044/050  nannannannannannannan  88   02   O    10    20
   214456    nannannannannannannan  nannannannannannannan  nannannannannannannan  021/025  040/050  nannannannannannannan  81   01   O    10    10
  210258A    nannannannannannannan  nannannannannannannan  nannannannannannannan       PP  nannannannannannannan  nannannannannannannan  PP   00   P    00    00
 
 
SECOND YEAR SGPA   6.4, TOTAL CREDITS EARNED   50
 
....................................................................................................
 
S150088549  JADHAV APARNA  KANTA                    SUNITA                   71842537F DYPP
                                                                                  Grd   Crd
               OE       TH     [OE+TH]     TW       PR       OR    Tot% Crd  Grd  Pts   Pts
             ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~  ~~   ~~~  ~~    ~~
 SEM. 1
 
   214441    015/050  25$/050  040/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  40   04   P    04    16
   214442    028/050  026/050  054/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  54   04   B    06    24
   214443    030/050  030/050  060/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  60   04   A    08    32
   214444    016/050  037/050  053/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  53   04   B    06    24
   214445    036/050  034/050  070/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  70   04   A+   09    36
   214446    nannannannannannannan  nannannannannannannan  nannannannannannannan  022/025  026/050  nannannannannannannan  64   01   A    08    08
   214447    nannannannannannannan  nannannannannannannan  nannannannannannannan  020/025  032/050  nannannannannannannan  69   02   A    08    16
   214448    nannannannannannannan  nannannannannannannan  nannannannannannannan  021/025  040/050  nannannannannannannan  81   01   O    10    10
   214449    nannannannannannannan  nannannannannannannan  nannannannannannannan  020/025  nannannannannannannan  nannannannannannannan  80   01   O    10    10
  202054A    nannannannannannannan  nannannannannannannan  nannannannannannannan       PP  nannannannannannannan  nannannannannannannan  PP   00   P    00    00
 
 SEM. 2
 
   207003    029/050  030/050  059/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  59   04   B+   07    28
   207003    nannannannannannannan  nannannannannannannan  nannannannannannannan  022/025  nannannannannannannan  nannannannannannannan  88   01   O    10    10
   214450    027/050  030@/050  057/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  57   03   B+   07    21
   214451    025/050  022/050  047/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  47   04   C    05    20
   214452    032/050  032/050  064$/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  64   04   A    08    32
   214453    039$/050  029/050  068/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  68   04   A    08    32
   214454    nannannannannannannan  nannannannannannannan  nannannannannannannan  022/025  030/050  nannannannannannannan  69   02   A    08    16
   214455    nannannannannannannan  nannannannannannannan  nannannannannannannan  022/025  034/050  nannannannannannannan  74   02   A+   09    18
   214456    nannannannannannannan  nannannannannannannan  nannannannannannannan  022/025  040/050  nannannannannannannan  82   01   O    10    10
  210258A    nannannannannannannan  nannannannannannannan  nannannannannannannan       PP  nannannannannannannan  nannannannannannannan  PP   00   P    00    00
 
 
SECOND YEAR SGPA   7.26, TOTAL CREDITS EARNED   50
 
.................................................................................................... 
                    
S150088550  JADHAV SOMESH SANJAY                    UJWALA                   71842547C DYPP
                                                                                  Grd   Crd
               OE       TH     [OE+TH]     TW       PR       OR    Tot% Crd  Grd  Pts   Pts
             ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~~~~~  ~~~  ~~   ~~~  ~~    ~~
 SEM. 1
 
   214441    023/050  017/050  040/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  FF   04   F    00    00
   214442    023/050  022/050  045/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  45   04   C    05    20
   214443    018/050  011/050  029/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  FF   04   F    00    00
   214444    020/050  029/050  049/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  49   04   C    05    20
   214445    025/050  023/050  048/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  48   04   C    05    20
   214446    nannannannannannannan  nannannannannannannan  nannannannannannannan  017/025  023/050  nannannannannannannan  53   01   B    06    06
   214447    nannannannannannannan  nannannannannannannan  nannannannannannannan  017/025  027/050  nannannannannannannan  58   02   B+   07    14
   214448    nannannannannannannan  nannannannannannannan  nannannannannannannan  017/025  032/050  nannannannannannannan  65   01   A    08    08
   214449    nannannannannannannan  nannannannannannannan  nannannannannannannan  016/025  nannannannannannannan  nannannannannannannan  64   01   A    08    08
  202054A    nannannannannannannan  nannannannannannannan  nannannannannannannan       PP  nannannannannannannan  nannannannannannannan  PP   00   P    00    00
 

'''
len(s)

8924

In [19]:
import re

In [22]:
t = re.findall(r'[\.]\W{50,300}',s)

In [23]:
for i in t:
    if i in s:
        s.replace(i,'')

In [25]:
s = '''
   214451    031/050  17#/050  048/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  48   04   C    05    20
'''

In [26]:
s = s.replace('#','')

In [27]:
2[0|1]\w+[A-Z]?\s+\w+[\/|\s+][\w+| ]\w+\s+[\w|\s+]\w+[\/| $]\w* *\w*\/*\w* *\w* *\/*\w* *\/*\w* *\/*\w* *\/*\w* *\/*[\w| |\+][\w| |\+]\w* *\/*\w* *\/*\w* *\/*\w* *\/*\w*

'\n   214451    031/050  17/050  048/100  nannannannannannannan  nannannannannannannan  nannannannannannannan  48   04   C    05    20\n'

In [1]:
import tabula

# Read pdf into list of DataFrame
dfs = tabula.read_pdf("result.pdf", pages='all')

# Read remote pdf into list of DataFrame
type(dfs)
# convert PDF into CSV file
# tabula.convert_into("test.pdf", "output.csv", output_format="csv", pages='all')

list

In [13]:
# dfs

In [4]:
df = dfs[0]

In [11]:
df[df.columns[0]][0:4]

0    214444029/050  036/050  065/100  -------  ----...
1    214445040/050  032/050  072/100  -------  ----...
2    214446-------  -------  -------  022/025  028/...
3    214447-------  -------  -------  023/025  038/...
Name: 214443026/050  033/050  059/100  -------  -------  -------  59, dtype: object

In [16]:
reader = PdfReader('result.pdf')
page = reader.pages[0]
# print(page.extract_text())
with open('text_file.txt','w') as t:
    t.write(page.extract_text())

In [66]:
import re 
with open('text_file.txt','r') as t:
    s = t.read()
    a = re.findall(r'[A-Z]+',s)
    print(a)

['OE', 'TH', 'OE', 'TH', 'TW', 'PR', 'OR', 'T', 'C', 'G', 'P', 'P', 'SEM', 'B', 'A', 'B', 'A', 'A', 'A', 'O', 'O', 'O', 'A', 'PP', 'PP', 'P', 'SEM', 'A', 'O', 'A', 'B', 'B', 'A', 'A', 'A', 'O', 'A', 'PP', 'PP', 'P', 'OE', 'TH', 'OE', 'TH', 'TW', 'PR', 'OR', 'T', 'C', 'G', 'P', 'P', 'SEM', 'FF', 'F', 'C', 'P', 'P', 'B', 'B', 'B', 'B', 'A', 'A', 'PP', 'PP', 'P', 'SEM', 'FF', 'F', 'A', 'P', 'FF', 'F', 'B', 'C', 'A', 'A', 'A', 'D', 'PP', 'PP', 'P']

In [32]:
people = {
    'first': ['Corey', 'Jane', 'John'], 
    'last': ['Schafer', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}
persons = {
    'first': ['suraj', 'Jane', 'df'], 
    'last': ['Schafer', 'dfDoe', 'fefr'], 
    'email': ['surajpisal@gmail.com', 'dfjeo@email.com', 'JohnDoe@graer.com']
}

In [33]:
import pandas as pd

In [34]:
df = pd.DataFrame(people)
df2 = pd.DataFrame(persons)

In [37]:
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [41]:
df.drop(index=df[df['last'] == 'Doe'].index)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [4]:
df.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df['full_name'] = df['first'] + ' ' + df['last']

In [8]:
t = df.drop(['first','last'],axis=1)

In [10]:
t.head()

                     email      full_name
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe

In [18]:
df.head()

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [20]:
df.append({'first':'suraj'},ignore_index=True)

C:\Users\Suraj\AppData\Local\Temp\ipykernel_17528\3646968812.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'first':'suraj'},ignore_index=True)

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe
3  suraj      NaN                      NaN            NaN

In [28]:
data = ['a','b','c']
cols = ['a1','b1','c1']
p = pd.DataFrame(data,columns=cols)

ValueError: Shape of passed values is (3, 1), indices imply (3, 3)

In [16]:
t[['first','last']] = t['full_name'].str.split(' ',expand=True)

In [17]:
t

                     email      full_name  first     last
0  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@email.com       Jane Doe   Jane      Doe
2        JohnDoe@email.com       John Doe   John      Doe

In [80]:
from collections import namedtuple
import re
import pdfplumber
import pandas as pd

In [81]:
# list_of_columns = namedtuple('Point','ExamseatNo PRN NameofStudent OE TH OE+TH TW PR OR TOT CRD GRD PTS')

In [82]:
S = '''
   214441    030/050  024/050  054/100  -------  -------  -------  54   04   B    06    24
   214442    036/050  031/050  067/100  -------  -------  -------  67   04   A    08    32
   214443    026/050  033/050  059/100  -------  -------  -------  59   04   B+   07    28
   214444    029/050  036/050  065/100  -------  -------  -------  65   04   A    08    32
   214445    040/050  032/050  072/100  -------  -------  -------  72   04   A+   09    36
   214446    -------  -------  -------  022/025  028/050  -------  66   01   A    08    08
'''

In [95]:
# import re 
# pattern = re.compile(r'')
# match = pattern.finditer(S)
# for m in match:
#     print(m)

In [96]:
import csv 
with open('tt.csv','w',encoding='utf-8') as tt:
    writer = csv.writer(tt)
    writer.writerows(s)

In [105]:
# d = pd.read_csv('text_file.txt',header=None,sep=' ')

In [117]:
# with open('text_file.txt','r') as file:
#     words = file.read()
#     words = words.replace('-------',' ')
#     words = words.replace('~~~~~~~ ',' ')
#     words = words.replace('~~',' ')
#     words = words.replace('~~~ ',' ')
#     words = words.replace('~',' ')
#     words = words.replace('SEM.:',' ')
#     words = words.replace('*',' ')
    

#     with open('new_txt.txt','w') as new:
#         new.write(words)

In [62]:
file = open('new_txt.txt','r') 
text = file.read()
words = text.split()
import re 
words = words[12:]
d = {'20205':[], '20700':[], '21025':[], '21444':[], '21445':[]}
index = None
for w in words:
    if re.search('\d{5}',w):
        index  = re.search('(\d{5})',w)[1]
    
    d[index].append(w)

In [66]:
import re
import parse
import pdfplumber
import pandas as pd
from collections import namedtuple

In [61]:
# d = {'21444':[],'20205':[],''}
# for w in words:
#     if re.search('\d{5}',w):
#         index  = re.search('(\d{5})',w)[1]
#         print(index,end=' ')
#         if index not in d.keys():
#             d[index].append(w)


d

{'20205': ['202054A', '202054A'],
 '20700': ['207003', '207003', '207003', '207003'],
 '21025': ['210258A', '210258D'],
 '21444': ['214441',
  '214442',
  '214443',
  '214444',
  '214445',
  '214446',
  '214447',
  '214448',
  '214449',
  '214441',
  '214442',
  '214443',
  '214444',
  '214445',
  '214446',
  '214447',
  '214448',
  '214449'],
 '21445': ['214450',
  '214451',
  '214452',
  '214453',
  '214454',
  '214455',
  '214456',
  '214450',
  '214451',
  '214452',
  '214453',
  '214454',
  '214455',
  '214456']}

In [58]:
l = set()
for w in words:
    if re.search('\d{5}',w):
        index  = re.search('(\d{5})',w)[1]
        
        l.add(index)

In [59]:
l

{'20205', '20700', '21025', '21444', '21445'}

In [11]:
# import csv 
# filename = 'pp.csv'
# file = open('new_txt.txt','r') 
# text = file.read()
# with open(filename,'w') as pp:
#     writer = csv.writer(filename)
#     writer.writerows()

OE TH [OE+TH] TW PR OR Tot% Crd Grd Pts Pts

In [9]:
l10.remove('1')

In [10]:
l10

['OE', 'TH', '[OE+TH]', 'TW', 'PR', 'OR', 'Tot%', 'Crd', 'Grd', 'Pts', 'Pts']

In [69]:
import re
import parse
import pdfplumber
import pandas as pd
from collections import namedtuple
import requests

In [70]:
def download_file(url):
    local_filename = url.split('/')[-1]
    
    with requests.get(url) as r:
        with open(local_filename, 'wb') as f:
            f.write(r.content)
        
    return local_filename

In [71]:
ap_url = 'https://www.tabs3.com/support/sample/apreports.pdf'
ap = download_file(ap_url)

In [72]:
ap

'apreports.pdf'

In [73]:
with pdfplumber.open(ap) as pdf:
    page = pdf.pages[15]
    text = page.extract_text()

In [74]:
print(text)

AccountsPayableReportPack
invoicesenteredandcomparingthetotaltothechecksum,youcanensurethatalltransactions
havebeenenteredandassignedtothepropervendor.
ChangedEntriesand AnyentriesthatareeditedordeletedwillbelistedundertheChangedEntriesorDeletedEntries
DeletedEntries sections.Forchangedentries,theoriginalentrywillbeshownunderthe"Old"heading,andthe
changeswillbereflectedunderthe"New"heading.Whenaninvoiceormanualcheckisdeleted,
theInvoiceAmountisautomaticallychangedtozeroandtheStatusfieldischangedto"D".
TotalTransactionCount Totalnumberoftransactionsonthelistincludingchangesanddeletions.Eachchangedtransaction
(i.e.,botholdandnew)countsasonetransaction.
1Notshownonsamplereport.
-16-

In [75]:
new_vend_re = re.compile(r'^\d{3} [A-Z].*')

In [76]:
for line in text.split('\n'):
    if new_vend_re.match(line):
        print(line)